<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/cloud_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="./images/srini.jpeg" class="potrait" />
    <p>Created by <b>{{ name }}</b></p>
    {{>footer}}
</body>

</html>